.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100vw - 24px);
  background: rgba(0, 9, 26, 0.15);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.085);
  padding: 12px;
}

h3 {
  text-align: start;
  margin: 0;
  padding: 12px 12px 0 8px;
}

.user {
  font-size: 10px;
  padding-left: 32px;
}

.dropdown-menu {
  position: absolute;
  top: 80px;
  right: 0;
  border-radius: 0 0 10px 10px;
  display: flex;
  flex-direction: column;
  padding: 40px 80px;
  width: auto;
  margin: 0px 0 0 -8px;
  height: auto;
  gap: 20px;
  color: #cec4c4;
  font-size: 20px;
  font-weight: 900;
  font-family: "Roboto", sans-serif;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(14px);
}

.dropdown-menu a {
  color: #bbbbbb;
}
.ring-container {
  display: flex;
}

.circle {
  width: 10px;
  height: 10px;
  background-color: #63bd1972;
  border-radius: 50%;
  position: absolute;
  top: 50px;
  left: 21px;
}

.ringring {
  border: 3px solid #63bd1970;
  -webkit-border-radius: 30px;
  height: 25px;
  width: 25px;
  position: absolute;
  left: 10px;
  top: 40px;
  -webkit-animation: pulsate 3s ease-out;
  -webkit-animation-iteration-count: infinite;

  opacity: 0;
}
@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(0.02, 0.02);
    opacity: 0;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    -webkit-transform: scale(1.01, 1.01);
    opacity: 0;
  }
}
