#root {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.calendar-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

@media only screen and (max-width: 767px) {
  .calendar-content {
    flex-direction: column;
  }
}
